
<ng-container cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div cdkDragHandle class="dialog-container container-md d-flex p-3 flex-column">
        <div class="modal-header">
            <h5 mat-dialog-title class="p-0 modal-title">Modal title</h5>
            <button class="p-0 " mat-icon-button matTooltip="chiudi" color="primary" aria-label="icona per chiudere la modale">
                <mat-icon>close</mat-icon>
              </button>
        </div>

  
        <div mat-dialog-content  class="modal-body">
            <div class="w-100 h-100" *ngIf="config.areMoreThanOneTab === false; else tabbedLayout">
                <mat-list>
                    <mat-list-item class="ps-0 pe-0">
                      <span matListItemTitle>first Title</span>
                      <span matListItemLine>first line</span>
                    </mat-list-item>
                    <mat-list-item class="ps-0 pe-0">
                        <span matListItemTitle>second Title</span>
                        <span matListItemLine>second line</span>
                    </mat-list-item>
                    <mat-list-item class="ps-0 pe-0">
                        <span matListItemTitle>third Title</span>
                        <span matListItemLine>third line</span>
                    </mat-list-item>
                  </mat-list>
            </div>
            <ng-template #tabbedLayout class="w-100 h-100">
                pippo
            </ng-template>
           
        </div>

        <div mat-dialog-actions class="mt-4">
          <button class="w-100 rounded-button"  mat-flat-button color="primary" mat-dialog-close>Close</button>
        </div>
    </div>
</ng-container>